@media only screen and (max-width: 1400px) {
	html,body{
		font-size: 14px;
	}
}

@media only screen and (max-width: 1100px) {
	html,body{
		font-size: 12px;
	}
}

@media only screen and (max-width: 700px) {
	html,body{
		font-size: 10px;
	}
	
	#calc-container #button-container button{
		font-size: 4em;
	}
	
	#button-container #system-buttons button{
		font-size: 2.5em;
	}
}

@media only screen and (max-width: 500px) {
	html,body{
		font-size: 8px;
	}
	
	#calc-container #button-container button{
		font-size: 5em;
	}
	
	#button-container #system-buttons button{
		font-size: 3em;
	}
}

@media only screen and (max-height: 500px) {
	#display-upperLine{
		height: 0;
		overflow: hidden;
	}
	
	#display-mainLine{
		height: 100%;
		top: 0;
	}
}